/* -- Index -- */
*{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: roboto;
	background-image: linear-gradient(to right, #3635E8, #389BFF);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #575757;
}
a{
	text-decoration: none;
	color: #3635E8;
}
a:hover{
	color: #e8dc35;
}
section{
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box{
	background-color: #ffffff;
	padding: 10%;
	border-radius: 10px;
}
h2{
	font-size: 45px;
	margin-bottom: 5%;
	text-align: center;
}
h1{
	margin-bottom: 5%;
	text-align: center;
}
.form{
	display: flex;
	flex-direction: column;
	margin: 2% 0;
}
input{
	text-align: center;
	padding: 1%;
	margin: 2% 0;
	color: #575757;
	border-color: #3635E8;
	border-radius: 5px;
}
button{
	padding: 2%;
	margin: 2% 0;
	background-color: #3635E8;
	color: #ffffff;
	border: none;
	border-radius: 5px;
}button:hover{
	background-color: #e8dc35;
	color: #3635E8;
	font-weight: 600;
	transition: all .5s;
	cursor: pointer;
}
.cadastro{
	text-align: center;
	margin: 2% 0;
}
.creditos{
	text-align: center;
	margin: 2% 0;
}
.creditos p{
	font-size: 12px;
}

/* Cadastro */

.input{
	width: 50%;
}