/* -- Index -- */
body {
	font-family: roboto;
	background-image: linear-gradient(to right, #3635E8, #389BFF)
}
a {
	text-decoration: none;
}
img {
	width: 180px;
}
.form {
	display: flex;
	flex-direction: column;
}
.log-btn {
	align-items: center;
}
input {
	width: 550px;
	height: 30px;
	padding: 0px 5px;
	margin: 5px;
	border-radius: 5px;
	border-color: #3635E8;
	text-align: center;
}
button {
	width: 80px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background-color: #3635E8;
	padding: 5px;
	color: #ffffff;
}
button:hover {
	width: 80px;
	border: none;
	border-radius: 5px;
	background-color: yellow;
	padding: 5px;
	color: #3635E8;
}
.box {
	box-sizing: border-box;
	width: 50%;
	font-size: 16px;
	text-align: center;
	margin: 25vh 50vh;
	padding: 50px;
	background-color: #ffffff;
	border-radius: 10px;
	}
.box h2 {
	font-size: 45px;;
	padding-top: 5%;
}
.box form {
	padding-top: 20px;
}
.cadastro {
	margin-top: 20px;
}
.cadastro a {
	color: #3635E8;
}
.creditos a {
	color: #3635E8;
}
.cadastro a:hover {
	color: yellow;
}
.creditos a:hover {
	color: yellow;
}

/* -- Cadastro -- */

.box-cadastro {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
	width: 130vh;
	height: 400px;
	margin: 15% auto;
	padding: 20px;
	background-color: #ffffff;
}
.box-cadastro h1 {
	font-size: 45px;
	margin-top: -20px;
	padding: 5px;
}
.box-cadastro p {
	font-size: 20px;
	margin-top: -20px;
	padding: 5px;
}
.form-cadastro {
	margin: 5px;
}
.img-cadastro {
	width: 100px;
}
.div-cadastro1 {
	align-content: center;
}